/* Default font */
body {
  font-family: 'Raleway', sans-serif;
}

/* Navbar, including overriding background color */
.navbar {
  background-color: #FEFEFE;
}

.navbar img {
  height: 40px;
}

/* Jumbotron, including overriding text color */
.jumbotron {
  background-attachment: fixed;
  background-image: url(background.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: #ffffff;
  display: flex;
  align-items: center;
}

/* Overriding button style rules */
.btn {
  border-color: #ffffff;
  color: #ffffff;
}

.btn:hover {
  background-color: #0d667f;
  border-color: #0d667f;
  color: #ffffff;
}

.form {
  font-size: 20px;
  padding-left: 25%;
  padding-right: 25%;
}